.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    margin-bottom: 50px;
  }
  .signup__button {
    color: black !important;
    font-family: "Oswald", sans-serif !important;
    border: 1px solid black !important;
    border-radius: 0px !important;
  }
}
